// header
header {

	display: flex;
	flex-direction: row;

}

#logo {

	display: inline;

}

#banner1 {
	display: inline;
	width: 80em;
	max-width: 800px;
	object-fit: contain;
}

#logo {

	display: inline;

}

